**/*~
**/*.aux
**/*.out
**/*fls
**/*log
**/*fdb_latexmk
*.bbl
*.blg
./python/virtualenv/**/*
**/virtualenv/
**/__pycache__
**/*populate*.py
/paper/neuro-cadical-neurips.pdf
/paper/template.pdf
/paper/auto/
/paper/clean.sh
/250000
/Pipfile
/data/results/
